<h1> Welcome to the greatest text messaging app ever</h1>

<%= form_for @message do |f| %>
  <%= f.label :to %>
  <%= f.text_field :to %>
  <br>
  <%= f.label :from %>
  <%= f.text_field :from %>
  <br>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <br>
  <%= f.submit %>
<% end %>


<%= %>
