<!DOCTYPE html>
<html>
<head>
  <title>TwilioApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">TextingApp</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">

    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
      <li><%= link_to "Sign Out", destroy_user_session_path %></li>
      <% else %>
      <li> <%= link_to "Sign up", new_user_registration_path %></li>
      <li> <%= link_to "Sign in", new_user_session_path %></li>
      <% end %>

    </ul>
  </div>
</div>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
